<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body class="bg-light">
<header th:insert="header::header"></header>
<div class="container d-flex flex-column p-5">
    <div class="d-flex flex-row justify-content-end">
        <div sec:authorize="hasAuthority('member')" class="d-flex">
            <div class="px-2">
                <a class="btn btn-primary"
                   th:href="@{/issues/add/task/{issueId}(issueId=${issue.getId()})}">Логировать</a>
            </div>
        </div>
        <div sec:authorize="hasAuthority('member')" class="d-flex">
            <div class="px-2">
                <a class="btn btn-primary" th:href="@{/issues/edit/{id}(id=${issue.getId()})}">Редактировать</a>
            </div>
        </div>
        <div sec:authorize="hasAuthority('edit')" class="d-flex">
            <div class="px-2">
                <a class="btn btn-primary" th:href="@{/issues/delete/{id}(id=${issue.getId()})}">Удалить</a>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row">
        <label class="form-label fs-3 fw-bold"
               th:text="'Задача #' + ${issue.getId()} +' '+ ${issue.getName()}"></label>
    </div>
    <div class="d-flex flex-column border">
        <div class="d-flex flex-row">
            <label class="form-label fw-bold p-2">Статус:</label>
            <label class="form-label p-2" th:text="${issue.getStatus()}"></label>
        </div>
        <div class="d-flex flex-row">
            <label class="form-label fw-bold p-2">Приоритет:</label>
            <label class="form-label p-2" th:text="${issue.getPriority()}"></label>
        </div>
        <div class="d-flex flex-row">
            <label class="form-label fw-bold p-2">Исполнитель:</label>
            <label class="form-label p-2"
                   th:text="${issue.getAssigned() != null ? issue.getAssigned().getFio() : '' }"></label>
        </div>
        <div class="d-flex flex-row">
            <label class="form-label fw-bold p-2">Начало:</label>
            <label class="form-label p-2" th:text="${issue.getStartDate()}"></label>
        </div>
        <div class="d-flex flex-row">
            <label class="form-label fw-bold p-2">Оценка:</label>
            <label class="form-label p-2" th:text="${issue.getEstimatedTime()}"></label>
        </div>
        <div class="d-flex flex-row">
            <label class="form-label fw-bold p-2">Затраченное время:</label>
            <a style="text-decoration: none;" class="form-label p-2"
               th:href="@{/tasks/issue/{issueId}(issueId=${issue.getId()})}" th:text="${issue.getSpentTime()}">
            </a>
        </div>
        <div class="d-flex flex-row">
            <label class="form-label fw-bold p-2">Оставшееся время:</label>
            <label class="form-label p-2" th:text="${issue.getLeftTime()}"></label>
        </div>
        <div class="d-flex p-2" th:text="${issue.getDescription()}"/>
    </div>
    <div class="d-flex flex-column">
        <div><label class="form-label fw-bold p-2">История изменений</label></div>
        <div class="mb-4">
            <div class="p-2 border" th:each="history : ${histories}">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column p-3">
                        <span class="text-info"
                              th:text="'Обновлено: ' + ${history.getUser().getName()} + ' ' + ${#temporals.format(history.getUpdateDate(), 'yyyy-MM-dd HH:mm')}"></span>
                        <span th:text="'Изменения: ' + ${history.getChanges()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div><label class="form-label fw-bold p-2">Вложения</label></div>
        <div class="mb-4">
            <div class="p-2 border" th:each="file : ${files}">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column p-3">
                       <a th:href="@{/issues/download/{id}(id=${file.getId()})}" th:text="${file.getUploadDate()} + ': ' + ${file.getFilename()}"></a>
                    </div>
                </div>
            </div>
            <div class="py-2">
                <a class="btn btn-primary"
                   th:href="@{/issues/file/{issueId}(issueId=${issue.getId()})}">Прикрепить</a>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer::footer"></div>
</body>
</html>
